* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TopBanner {
  padding: 0px;
  /* padding은 높이를 0으로 줬을 때 사라지지 않아서 0으로 바꿈 */
  background: pink;
  overflow: hidden;
  /* overflow는 높이를 0으로 줬을 때 글자가 그대로 있기때문에 hidden으로 */
  height: 100px;
  transition: 0.5s;
  /* height가 auto면 transition이 일어나지 않으므로 높이를 줘야 애니매이션 가능*/
}

.TopBanner.on {
  height: 0;
}

.btn {
  font-size: 30px;
  color: palevioletred;
  display: block; 
  /* transform은 block요소가 아니면 안먹는다. */
}

.btn.on {
  transform: rotate(0.5turn);
}